@use "/src/styles/color.scss" as *;
.container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: $gray-100;
  position: relative;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container__nav{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.6875rem 1.25rem;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  border-top: $gray-300;
  background: $white;
}
.container__comment{
  display: flex;
  width: 100%;
  padding: 0.75rem 1.25rem 1.5rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  background: $white;
  flex-grow: 1;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.container__comment__frame{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

}
.container__comment__box{
  height: auto;
  width: 100%;

}

.container__nav__input{

  border: none;
  width: 100%;
}