@use "/src/styles/color.scss" as *;

.container{
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  width: 100%;

}
.container__comment{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.container__profile{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  flex: 1 0 0;
  span{
    width: 3.2rem;
    color: $gray-900;
  }
  :nth-child(2){
    width: 100%;
    color: $gray-600;
  }
}
.container__comment__content{
  color: $gray-700
}
.container__comment__likecut{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.25rem;
  color: $gray-700;
  text-align: justify;
}
.container__comment__reaction{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.container__profile__img{
  border-radius: 0.5rem;
border: $gray-200;
background: $gray-50;
}