.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &--result {
    gap: 1.5rem;
    overflow-y: scroll;
    padding: 1.25rem;
  }
}

.input{
  height: 100% !important;
}
.top-navbar{
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}
.no-results {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}