@use "@/styles/color.scss";

.bottomsheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
  }

  &__sheet {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 32px 32px 0 0;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 2;
    min-height: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px 20px;

    &--active {
      transform: translateY(0);
    }
  }

  &__handle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &::before {
      content: "";
      width: 78px;
      height: 6px;
      background-color: color.$gray-100;
      border-radius: 10px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }

  &__bottom {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
    margin-top: 21px;
  }
}
