@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.list{
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  gap: 0.5rem;
  padding: 0.875rem 1.25rem;

  &__icon {
    width: 1rem;
    height: 1rem;
    color: $gray-500;
  }

  &__text {
    @extend .body2-regular;
    color: $gray-800;
    &--highlight {
      color: $green-500;
    }
  }

}