// styles.scss

@mixin size($width, $padding, radius) {
    max-width: $width;
    padding: $padding;
    border-radius: $radius;
}

.button {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    @include size(35rem, 1.4rem 0);
}
