@use "@/styles/color.scss" as *;

.tab-bar{

  &__tab-list {
    width: 100%;
    display: flex;
    border-top: 0.0625rem solid $gray-100;
    padding: 0.375rem 0.5rem;
    background-color: white;
  }
}