@use "@/styles/color.scss";

.field {
  &:focus-within {
    .field__icon--right {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  &__label {
    color: color.$gray-700;
    margin-bottom: 4px;

    &--error {
      color: color.$red;
    }
  }

  &__helper {
    color: color.$gray-700;
    margin-top: 8px;
    display: none;
    transition: height 0.3s ease;

    &--visible {
      display: block;
    }
  }

  &__error {
    color: color.$red;
    margin-top: 8px;
    display: none;
    transition: height 0.3s ease;

    &--visible {
      display: block;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &--left {
      left: 16px;
    }

    &--right {
      right: 16px;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    min-width: 335px;
    border: 1px solid color.$gray-300;
    border-radius: 8px;
    padding: 11px 16px;
    transition: all 0.3s ease;
    color: color.$gray-500;
    border-color: color.$gray-100;
    background-color: color.$gray-50;

    &--leftIcon {
      padding-left: 46px;
    }

    &--rightIcon {
      padding-right: 46px;
    }

    &--focused {
      border-color: color.$gray-400;
      background-color: color.$gray-100;
    }

    &--value {
      color: color.$gray-700;
    }

    &--error {
      background-color: color.$red-light;
    }
  }
}
