@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.map {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $gray-200;
}

.chips {
  position: absolute;
  top: 0.75rem;
  display: flex;
  gap: 0.75rem;
  overflow-x: scroll;
  width: 100%;
  padding: 0 1.3125rem;
  overflow: visible;
  &::-webkit-scrollbar {
    display: none;
  }
  * {
    flex-shrink: 0;
  }
}