@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

@mixin section-styles {
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.navbar{
  position: absolute;
  top: 0;
  z-index: 10;
  transition: background-color 0.5s;
  &--not-scrolled{
    background-color: transparent !important;
    svg{
      path{
        fill: $white;
      }
    }
  }
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  > *{
    flex-shrink: 0;
  }
}

.representative-image{
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;

  // 배경이미지로 인해 topnavbar 너무 안보이면 백드롭 깔기
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 25%;
  //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  //   z-index: 1;
  // }
}

.section {
  @include section-styles;
}
.overview-section {
  @extend .section;
}
.location-section {
  @extend .section;
  gap: 0.75rem;
}
.review-overview-section {
  @extend .section;
}
.review-list-section{
  @extend .section;
  gap: 1.5rem;
}

.section-title{
  @extend .subtitle2-semibold;
  color: $gray-900;
}

.course-name{
  color: $gray-900;
  margin-bottom: 0.5rem;
  @extend .title1-bold;
}

.course-details {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
} 

.course-points{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.course-image{
  width: 100%;
  aspect-ratio: 334 / 171;
  border-radius: 0.75rem;
  background-color: $gray-300;
}