// Grayscale Colors
$gray-50: #f7f8fa;
$gray-100: #f2f3f6;
$gray-200: #eaebee;
$gray-300: #dcdee3;
$gray-400: #d1d3d8;
$gray-500: #adb1ba;
$gray-600: #868b94;
$gray-700: #4d5159;
$gray-800: #393a40;
$gray-900: #212124;

// Green Colors
$green-50: #ebf6f4;
$green-100: #ccf0e7;
$green-200: #99e0cf;
$green-300: #66d1b8;
$green-400: #33c1a0;
$green-500: #00b288;
$green-600: #008e6d;
$green-700: #006b52;

// Red Colors
$red: #f35e5e;
$red-light: #fceeee;

// White
$white: #ffffff;
