@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.list-item {
  display: flex;
  padding: 1.2rem 2rem;
  align-items: center;
  cursor: pointer;

  &__icon{
    width: 1rem;
    height: 1rem;
    fill: $gray-500;
  }
  &__text {
    @extend .body2-regular;
    color: $gray-800;
    margin-left: 0.5rem;
    flex-grow: 1;
  }
  &__delete-button {
    width: 1rem;
    height: 1rem;
    fill: $gray-500;
  }
}