@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.nearby-chip{
  display: flex;
  gap: 0.25rem;
  padding: 0.375rem 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid $gray-100;
  background-color: white;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.15);
  
  &--selected {
    background-color: $gray-800;
    border: 1px solid $gray-700;
    color: $white;

    .nearby-chip__text {
      color: $white;
    }
    .nearby-chip__icon {
      fill: white;
    }
  }
  &__icon{
    width: 1rem;
    height: 1rem;
    fill: $gray-700;
  }

  &__text{
    @extend .label3-medium;
    color: $gray-700;
  }
}