@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.top-navbar {
  width: 100%;
  padding: 1rem 1.25rem;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 1.5rem;
  background-color: white;

  &.background-color-white {
    background-color: $white;
  }

  &.background-color-gray {
    background-color: $gray-900;
  }

  &__leading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.625rem;
  }

  &__height {
    display: inline-block;
    height: 1.5rem;
    flex-grow: 1;
  }

  &__contents{
    flex-grow: 1;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $gray-800;
    @extend .subtitle1-semibold;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }
}