@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.search-history {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;

    &__title {
      color: $gray-800;
      @extend .body2-semibold;
    }
    &__clear-button {
      color: $gray-600;
      @extend .caption1-regular;
    }
  }
}

