.draggable-bottom-sheet {
  width: 100%;
  position: absolute !important;
  // overflow: visible !important;
  overflow-y: scroll !important;
  &::-webkit-scrollbar {
    display: none;
  }
  
  &__container  {
    box-shadow: none !important;
    border-radius: 2rem 2rem 0 0 !important;
  }
}