@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

// .container{
//   display: flex;
//   flex-direction: column;
//   padding: 0 1.25rem;
//   width: 100%;
// }

.profile-image {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.125rem;
  height: 5.125rem;
  border-radius: 0.75rem;
  border: 1px solid $gray-200;
  background-color: $gray-50;
  position: relative;

  &__selected-image {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    object-fit: cover;
  }

  &__empty-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $gray-400;
  }

  &__picker {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: $gray-800;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 3.875rem;
    left: 3.875rem;

    &__icon {
      width: 0.75rem;
      height: 0.75rem;
      fill: white;
    }
  }

  &__input{
    display: none;
  }
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 0 1.25rem;
}

.x-icon{
  width: 1.25rem;
  height: 1.25rem;
  fill: $gray-400;
}

.save-button {
  position: absolute;
  bottom: 34px;
}