// @use "@/styles/color.scss" as *;
// @use "@/styles/font.scss" as *;

.user-info{
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  &__profile{
    width: 100%;
  }

  &__statics{
    display: flex;
    gap: 0.5rem;
    
    &__panel {
      width: 100%;
    }
  }
}
