@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.snackbar-item {
  position: absolute;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  background-color: $gray-800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  opacity: 0;
 
  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--bottom {
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
  &--full {
    width: 90%;
  }
  &--enter {
    animation: enter 200ms ease-out forwards;
  }
  &--show {
    opacity: 1;
  }
  &--exit {
    animation: exit 200ms ease-out forwards;
  }
  &__icon {
    width: 1rem;
    height: 1rem;
    &--alert {
      fill: $red;
    }
    &--check {
      fill: $green-500;
    }
  }
  &__message {
    @extend .body2-semibold;
    color: white;
  }
}
@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
