@use "/src/styles/color.scss" as *;
.container{
  display: flex;

  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.container__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}
.container__badge{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.25rem;
}
.container__img{
  border-radius: 0.5rem;
  border: 1px solid $gray-400;
}
.container__title{
  color: $gray-800;
  letter-spacing: -0.02rem;
}
.container__record{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 1rem;
  gap: 0.75rem;
  .container__record__frame{
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  span{
    letter-spacing: -0.0175rem;
  }
}

.container__write{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.container__write__img{
  border-radius: 0.5rem;
  border: 1px solid $gray-400;
}
.container__write__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}
.container__write__title{
  color: $gray-800;
  letter-spacing: -0.0225rem;
}
.container__write__badge{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}