$duration: 0.3s;

@mixin size($width, $padding) {
  max-width: $width;
  padding: $padding;
}

@mixin outlineColor($color) {
  color: $color;
  border: 0.1rem solid $color;
  background: $color-white;
  transition: $duration;

  &:hover {
    background: $color;
    color: $color-white;
  }
}

.button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.6rem;
  white-space: nowrap;
}

/* 배경색 */
.solid {
  color: $color-white;
  background: $color-primary;
  transition: $duration;

  &:hover {
    background: $color-red-40;
    color: $color-white;
  }
}

.outline {
  &.primary {
    @include outlineColor($color-primary);
  }

  &.secondary {
    @include outlineColor($color-blue-20);
  }
}

/* 크기 */
.large {
  @include size(35rem, 1.4rem 0);
  @include sopoqa-16-700;

  &:disabled {
    @include size(33.5rem, 1.4rem 0);
  }
}

.medium {
  @include size(10.8rem, 1rem 0);
  @include sopoqa-14-700;

  &:disabled {
    @include size(9.5rem, 1rem 0);
  }
}

.small {
  @include size(8.2rem, 0.8rem 0);
  @include sopoqa-12-400;
}

.button {
  &:disabled {
    color: $color-white;
    border: none;
    background-color: $color-gray-40;
    cursor: not-allowed;
  }
}

.fullWidth {
  max-width: 100%;
}
