.container {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 375px;
  height: 812px;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
