@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 3.375rem);
}

.list-searchbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 3.375rem;
  padding: 0.375rem 1.25rem; 
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.map-searchbox{
  @extend .list-searchbox;
  position: absolute;
  &__input{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.15);
  }
}

.layout-switch-button{
  z-index: 10;
  position: absolute;
  left: 50%;             
  transform: translateX(-50%);
  bottom: 1.25rem;
}
